$color-background: lightgray;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.app {
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: $color-background;
	display: flex;
	flex-direction: column;
}

.message-log {
	flex-grow: 1;
	overflow: auto;
	padding: 10px;
}

.message {
	line-height: 1.5;
	margin-top: 5px;

	&__nick {
		&::before {
			content: '<';
		}

		&::after {
			content: '>: ';
		}
	}
}

.message-input {
	font-size: 16px;
	padding: 5px;
	border: none;
	border-radius: 5px;
}

.login {
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	&__span,
	&__input {
		margin: 0 5px;
		font-size: 2em;
		font-weight: bold;
	}

	&__input {
		border: none;
		border-bottom: 1px solid black;
		text-align: center;

		&:focus {
			outline: 1px dashed lightgray;
		}
	}
}
