$color-background: #536e96;
$color-text: white;

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Fira Code', monospace;
	background-color: $color-background;
	color: $color-text;
}

.radio {
	width: 100%;
	height: 50px;

	border: none;
	border-bottom: 1px solid rgba(white, 0.2);
}

.chat {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}

.message-wrapper {
	height: calc(100% - 2em);
	display: flex;
}

.users-list {
	width: 150px;
	padding: 10px;
	margin: 0;

	background-color: $color-background;
	border-left: 1px solid rgba($color-text, 0.2);
	list-style: none;
}

.message-log {
	flex-grow: 1;
	overflow: scroll;
	height: 100%;
	padding: 10px;
}

.message {
	line-height: 1.5;
	margin-top: 5px;

	&__nick {
		font-weight: 600;

		&::before {
			content: '<';
		}

		&::after {
			content: '> ';
		}
	}
}

.message-input {
	width: 100%;
	font-family: 'Fira Code', monospace;
	font-size: 16px;
	padding: 5px;
	border: none;
}

.login {
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	&__span {
		margin: 0 5px;
		font-size: 2em;
		font-weight: bold;
	}
}

.pip {
	position: fixed;
	right: 10px;
	bottom: 50px;
	max-width: 50%;
	max-height: 50%;
	width: auto;
	height: auto;
}
